/* .col{
    background-color: blue;
}
.col-8{
    background-color: red;
} */
.humidity, .wind {
    display: inline-block;
}
.temp{
    display:inline-block;
}

.daily{
    background-color: cornflowerblue;
    padding: 5%;
    margin: 3%;
}
.dailyTwo{
    background-color:green;
    padding: 5%;
    margin: 3%;
}