/* .col{
    background-color: blue;
}
.col-8{
    background-color: red;
} */
.humidity, .wind {
    display: inline-block;
}
.temp{
    display:inline-block;
}

.daily{
  
   
}
.dailyTwo{
    background-color: black;
    color: white;
    padding: 5%;
    margin: 3%;
}
header{
    background-color: black;
    color: white;
    padding: 2%;
}
.btn{
   
    color: white;
    padding: 1%;
   
  
}
.city-button{
    border-radius: 2px;
    background: black;
    margin: 1%;
    padding: 5%;
    width: 60%;
    height: 50%;
    color: white;
}
.hot{
    background-color: red;
}
